@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import "assets/css/reset.css";
@import "assets/css/navbar.css";
@import "assets/css/banner.css";
@import "assets/css/cardcontainer.css";
@import "assets/css/footer.css";
@import "assets/css/indexcard.css";
@import "assets/css/modal.css";


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
    text-align: justify;
}

.container {
    margin: 0.6em 3.6em;
}

.container>h2 {
    font-size: 2.4em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: lighter;
}

h3 {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-weight: bolder;
}

.img--style {
    box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.21);
    border-radius: 6px;
  }
