@import "assets/css/reset.css";
@import "assets/css/navbar.css";
@import "assets/css/banner.css";
@import "assets/css/cardcontainer.css";
@import "assets/css/footer.css";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0.6em 3.6em;
}

.container>h2 {
    font-size: 2.4em;
    font-weight: 200;
    margin-top: 4em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
