.indexcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6em;
  row-gap: 2em;
  margin-bottom: 11em;
}

.indexcard {
  flex-grow: 1;
}

/*
**
    Card
**
*/

.card {
  display: flex;
  gap: 5em;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

.card * {
  width: 50%;
}

.card img {
  height: auto;
}

.card:last-of-type {
  background-color: #F5F5F5;
}

@media only screen and (max-width: 640px) {
  .card {
    flex-direction: column;
  }

  .card * {
    width: 100%;
  }

  .card:last-of-type {
    flex-direction: column-reverse;
  }
}

.passioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passioncontainer>h2 {
  margin-top: 2em;
  font-size: 2.4em;
  font-weight: 200;
}

.passioncontainer>p {
  margin-bottom: 5em;
  font-size: 1.2em;
}

.passionimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6em;
  row-gap: 2em;
  justify-items: center;
}

@media only screen and (max-width: 640px) {
  .passionimg {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
  
}

.passionimg>img {
  flex-grow: 1;
  width: 80%;
}

.cardcontact {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  margin-top: 6em;
  padding-left: 3.6em;
  padding-right: 3.6em;
}

.cardcontact>p {
  font-size: 1.2em;
  width: auto;
  text-align: justify;

}

.cardcontact>a {
  border: solid black;
  padding: 0.4em 1em;
  border-radius: 6px;
  color: black;
}

@media only screen and (max-width: 640px) {
  .cardcontact {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
}