.adresse {
    margin: 6em 6em;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
    .adresse {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .map {
        flex-grow: 1;
    }
}

.coordonnees {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}

.liensfooter {
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.liensfooter>a {
    padding-left: 2em;
    padding-right: 2em
}

.droits {
    margin-top: 2.5em;
    text-align: center;
}