footer {
    border-top: 1px solid #C06133;
}

.beforeAddress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 2em;
}

.coordonates {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}

.footer-btn {
    width: 170px;
    margin: 30px auto;
    text-align: center;
    padding: 0.4em 1em;
    border-radius: 6px;
    background-color: #C06133;
    box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.21);
}

.footer-btn a {
    color: white;
}

.footer-btn:hover {
    transition: 0.3s;
    background-color: lightgray;
    border: 1px solid #C06133;
  }
  
  .footer-btn:hover a {
    color: #C06133;
    transition: 0.3s;
  }


@media screen and (max-width: 1280px) {
    .address {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
    }

    .coordonates {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
    .address {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
    }

    .coordonates {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .map {
        flex-grow: 1;
        margin: 1rem;
    }
}

.footer-link {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C06133;
}

.footer-link>a {
    padding: 1rem;
    font-size: 0.8rem;
    color: whitesmoke;
    border-bottom: 1.5px solid #C06133;
}

.footer-link a:hover {
    border-bottom: 1.5px solid whitesmoke;
}

@media screen and (max-width: 768px) {
    .footer-link {
        height: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
    }
}

.rights {
    margin-top: 1em;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rights p {
    margin-bottom: 10px;
}

.itinerary {
    display: none;
}


@media screen and (max-width: 640px) {
    .map {
        display: none;
    }

    .coordonates {
       padding-top: 0;

    }

    .itinerary {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4em 1em;
        border-radius: 6px;
        background-color: #C06133;
        box-shadow: 4px 3px 12px 2px rgba(0, 0, 0, 0.21);
        width: 170px;
        min-width: 170px;
        color: white;
        border: 1px solid #C06133;
    }


    .itinerary:hover {
        transition: 0.3s;
        border: 1px solid #C06133;
        background-color: lightgray;
        color: #C06133;
    }
}