/* Tout est caché par défaut */
.intro-btn,
.intro-btn-end {
    display: none;
    color: rgb(12, 12, 12);
}

.intro-btn, .intro-btn-end {
    margin: 0 auto;
}

/* Sur un petit écran, seulement .intro-btn est affiché initialement */
@media only screen and (max-width: 768px) {

    .intro-suite {
        display: none;
    }

    .intro-btn {
        display: block;
        color: rgb(12, 12, 12);
    }
}
