.indexcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6em;
    row-gap: 2em;
}

.indexcard {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .indexcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }
}

.indexcard {
    flex-grow: 1;
}

.card1 {
    display: flex;
    column-gap: 6em;
    align-items: center;
    margin-bottom: 3em;
}

.card1>img {
    flex-grow: 1;
    width: 50%;
    height: auto;
}

.card1>.cardtext {
    flex-grow: 1;
    width: 45%;
}

.card2 {
    display: flex;
    column-gap: 6em;
    align-items: center;
}

.card2>img {
    flex-grow: 1;
    width: 50%;
    height: auto;
}

.card2>.cardtext {
    flex-grow: 1;
    width: 45%;
}