#main {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin: 0.6em 3.6em ;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  #main {
    flex-direction: column;
    gap: 20px;
    margin: 0.6rem 0.5rem;
    align-items: flex-start;
  }


  #main > div:first-of-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #main > div:first-of-type:after {
    content: " ";
    flex: 1;
  }
}

#hamburger {
  display: none;
  flex: 1;
  /* position: absolute;
  left: 0; */
}

@media only screen and (max-width: 640px) {
  #hamburger {
    display: block;
  }
}

.homebtn {
    font-size: 1.625em;
    font-weight: 600;
}

.homebtn > a {
    color: black;
}

.navlinks {
    font-size: 0.9em;
    font-weight: bold;
}

@media only screen and (max-width: 640px) {
  .navlinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav_items--hidden {
    display: none;
  }
}

.navlinks > a {
    padding: 1rem;
}

.navcontact {
  background-color: #BB8864;
  padding: 0.4em 1em;
  border-radius: 6px;
}

.navcontact > a {
  font-weight: bold;
  color: whitesmoke;
}
